
.imprtnt{color: red; font-weight: bold; font-family: 宋体}
.footer{background: aqua; background-size: 10% 10%; width: 10% }
p.imprtnt{color:black; font-weight: normal; font-style: oblique;}
#footer{font-size:small;}